<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <form method="post" action="/post_user">
            <label>Username</label>
            <input id="username" name="username" type="text">
            <label>Email</label>
            <input id="email" name="email" type="text">
            <input type="submit">
        </form>

        {% for user in myUser %}
        <li>{{ user.username }} -- {{ user.email }}</li>
        {% endfor %}

        {{oneItem.username}}

    </body>
</html>