<!DOCTYPE html>
<html>
    <head>
        <title>Profile | {{user.username }}</title>
    </head>
    <body>
        <h1>{{ user.username }} - Profile</h1>
        <h2>Email : {{ user.email }}</h2>

    </body>
</html>